project:
  type: book
  output-dir: _book
  resources: elegantbook.cls
lang: zh


book:
  title: "科研工具介绍"
  author: "张鑫"
  date: "1/8/2023"
  
  chapters:
    - index.qmd
    - MacSettings.qmd
    - Routers.qmd
    - summary.qmd
    - references.qmd
    
    
  site-url: https://macset.xzhang.ink/
  ##style: "docked"
  downloads: [pdf]
  sharing: [twitter,facebook]
  page-navigation: true
  
  sidebar:
    ## collapse-level: 1
    search: true
    title: false
    ## logo: "images/openscapes_hex.png"
    pinned: true
    align: center
    tools: 
      - icon: globe
        href: https://www.xzhang.ink
        text: "xzhang.ink"
      - icon: github
        href: https://github.com/xinzhangseu/macsoftset
        ## text: "Quarto website tutorial"
      - icon: twitter
        href: https://twitter.com/xzhangnj
        text: "My Twitter"         
  page-footer:
    left: |
      <span class="faux-block">{{< fa brands creative-commons >}} {{< var years >}} Xin Zhang</span>
      <span class="faux-block">All content licensed under<br>[{{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-sa >}} Creative Commons CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/)</span>      
    center: |
      <span class="faux-block">{{< fa brands orcid >}} <strong>ORCID</strong> [{{< var orcid >}}](https://orcid.org/{{< var orcid >}})</span>
      <span class="faux-block">{{< fa key >}} [PGP public key]({{< var pgp.key >}}) &emsp; {{< fa fingerprint >}} Fingerprint:</strong><br><span class="fingerprint">{{< var pgp.fingerprint >}}</span></span>
    right: |
      <span class="faux-block">Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)</span>
      <span class="faux-block">[View the source at {{< fa brands github >}} GitHub]({{< var github-url >}})</span>

    
  
    
bibliography: references.bib

format:
  html:
    theme: cosmo
    crossref:
      chapters: true
      eq-prefix: ""
  pdf:
    documentclass: elegantbook
    classoption: [lang=cn,10pt]
    keep-tex: true
    include-in-header: 
      text: |
        \usepackage{makeidx}
        \makeindex
    include-after-body: 
      text: |
        \printindex
    colorlinks: true
    highlight-style: github
    link-citations: true
    crossref:
      chapters: true
      eq-prefix: ""

editor: visual

